<div class="row">
    <div class="col-md-12 middle-slider my-4">
        <div class="middle-text-info ">

            <h3 class="tittle-w3layouts two text-center my-lg-4 mt-3">Chương trình giảm giá mùa hè</h3>
            <div class="simply-countdown-custom" id="simply-countdown-custom"></div>

        </div>
    </div>
</div>
<div class="row galsses-grids pt-lg-5 pt-3">
    <div class="col-lg-6 galsses-grid-left">
        <figure class="effect-lexi">
            <img src="~/Assets/User/images/banner4.jpg" alt="" class="img-fluid">
            <figcaption>
                <h3>
                    Editor's
                    <span>Pick</span>
                </h3>
                <p> Đặt hàng theo thiết kê</p>
            </figcaption>
        </figure>
    </div>
    <div class="col-lg-6 galsses-grid-left">
        <figure class="effect-lexi">
            <img src="~/Assets/User/images/banner1.jpg" alt="" class="img-fluid">
            <figcaption>
                <h3>
                    Editor's
                    <span>Pick</span>
                </h3>
                <p>Đặt hàng theo thiết kế</p>
            </figcaption>
        </figure>
    </div>
</div>
<div class="testimonials p-lg-5 p-3 mt-4">
    <div class="row last-section">
        <div class="col-lg-3 footer-top-w3layouts-grid-sec">
            <div class="mail-grid-icon text-center">
                <i class="fas fa-gift"></i>
            </div>
            <div class="mail-grid-text-info">
                <h3>Sản phẩm chính hãng</h3>
                <p>Nhập khẩu nguyên lô từ Mỹ(Công ty Pet H2MN2)</p>
            </div>
        </div>
        <div class="col-lg-3 footer-top-w3layouts-grid-sec">
            <div class="mail-grid-icon text-center">
                <i class="fas fa-shield-alt"></i>
            </div>
            <div class="mail-grid-text-info">
                <h3>Sản phẩm an toàn</h3>
                <p>Sản phẩm được thiết kế an toàn cho thú cưng</p>
            </div>
        </div>
        <div class="col-lg-3 footer-top-w3layouts-grid-sec">
            <div class="mail-grid-icon text-center">
                <i class="fas fa-dollar-sign"></i>
            </div>
            <div class="mail-grid-text-info">
                <h3>Thanh toán dễ dàng</h3>
                <p>Thanh toán tại nhà khi nhận được hàng</p>
            </div>
        </div>
        <div class="col-lg-3 footer-top-w3layouts-grid-sec">
            <div class="mail-grid-icon text-center">
                <i class="fas fa-truck"></i>
            </div>
            <div class="mail-grid-text-info">
                <h3>Giao hàng nhanh</h3>
                <p>Giao hàng nhanh chóng trên khắp 63 tỉnh thành</p>
            </div>
        </div>
    </div>
</div>


